@import '../../node_modules/kickevent-ui/src/less/main';
@import '../../node_modules/font-awesome/less/font-awesome';
@import 'font';

#main-menu {
  top: 6px;

  ul li {
    margin-right: 20px;
  }
}

.breadcrumb {
  display: inline-block;
}
